
.landing-custom-css{
// margin-top: -4vw;
z-index: 12 !important;
position: relative;
}

ion-card {
    margin-top: 0pt;
    box-shadow: none;
}
.tttt{
    // background: url('./assets/imgs/3.jpg') no-repeat fixed center;
}