<ion-header>
  <ion-toolbar class="=tttt">
    <ion-grid fixed class="landing-page-grid">
      <ion-row>
        <ion-col size="2">
          <img  hidden class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />

        </ion-col>
        <ion-col size="8">
          <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
        </ion-col>
        <ion-col size="2"></ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12" class="heading-label-fonts">Masjid App</ion-col>
      </ion-row>
      <ion-row hidden>
        <ion-col size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding fullscreen>

  <ion-grid fixed class="default-grid-layout landing-custom-css" >
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4" class="heading-label-fonts text-align-center" style="color:#135E92;">I am a</ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-button round (click)="moveToMussalModuleTapped()" style="padding-left: 2px;" color="secondary">
          <img src="./assets/imgs/mussali.png" style="padding-right: 8px;" alt="">
          Mussali</ion-button>
      </ion-col>
      <ion-col size="12" size-sm>
        <!-- routerLink="/auth-login" -->
        <ion-button round routerLink="/auth-login" (click)="navigateToLoginScreen()" routerDirection="forward" color="primary">Admin</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>