<!-- <ion-header>
    <ion-toolbar>
      <ion-grid fixed class="landing-page-grid">
        <ion-row>
          <ion-col size="2">
            <img class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />
  
          </ion-col>
          <ion-col size="8">
            <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
          </ion-col>
          <ion-col size="2"></ion-col>
  
        </ion-row>
        <ion-row>
          <ion-col size="12" class="heading-label-fonts">Notice Up</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting
            industry</ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  
<ion-content  ion-padding>
  <ion-grid fixed class="default-grid-layout">
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4" class="heading-label-fonts text-align-center" style="color:#135E92;">I am a</ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-button round (click)="moveToMussalModuleTapped()" style="padding-left: 2px;" color="secondary">
          <img src="./assets/imgs/mussali.png" style="padding-right: 8px;" alt="">
          Mussali</ion-button>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-button round routerLink="/auth-login" routerDirection="forward" color="primary">Admin</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid> -->

<!-- <ion-grid>
      <ion-row color="primary"  class="ion-justify-content-center">
        <ion-col  class="ion-justify-content-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Login</h3>
          </div>
          <div class="ion-padding">

              <ion-item>
                  <ion-label class="iput-label-title"  position="floating">your@email.com</ion-label>
                  <ion-input name="email" type="email"  [(ngModel)]="userEmail" required ></ion-input>
                </ion-item>

          
            <ion-item>
                <ion-label position="floating" >Password</ion-label>
              <ion-input name="password" type="password"  [(ngModel)]="userPassword" required></ion-input>
            </ion-item>
          </div>

            

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          
            <ion-button size="large" type="submit"   expand="block" (click)="loginButtonTapped()">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <div style="padding: 10px;" class="ion-text-center">
      If you don't have an account, please <a routerLink='/register'>
        register</a> first!
        </div>
    </ion-row>
    </ion-grid> -->

<!-- </ion-content> -->




<ion-header>
  <ion-toolbar>
    <ion-grid fixed class="landing-page-grid">
      <ion-row>
        <ion-col size="2" routerLink="/" routerDirection="backward">
          <img class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />

        </ion-col>
        <ion-col size="8">
          <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
        </ion-col>
        <ion-col size="2"></ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12" class="heading-label-fonts">Login Admin</ion-col>
      </ion-row>
      <ion-row>
        <ion-col hidden size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding fullscreen>

  <ion-grid fixed class="default-grid-layout login-card-height">
    
    <ion-row>
      <ion-col size="12" size-sm>
    
        <ion-item>
          <!-- <ion-label class="iput-label-title" position="floating">your@email.com</ion-label> -->
          <ion-icon name="mail"></ion-icon>
          <ion-input name="email" type="email" [(ngModel)]="userEmail" required></ion-input>
        </ion-item>


        <ion-item>
          <!-- <ion-label position="floating">Password</ion-label> -->
          <ion-icon name="lock"></ion-icon>
          <ion-input name="password" type="password" [(ngModel)]="userPassword" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm>
        <!-- <ion-button round routerLink="/auth-login" routerDirection="forward" color="primary">Admin</ion-button> -->
        <ion-button  type="submit"   expand="block" color="primary" (click)="loginButtonTapped()">Login</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <div style="padding: 10px;" class="ion-text-center">
    If you don't have an account, please <a routerLink='/register'>
      register</a> first!
      </div>
  </ion-row>
  </ion-grid>

</ion-content>