
.register-card-height {
    height: 100vw;
    
}

// ion-item{
//     // --background: #0cd1e8;
//     --background: white;
//     --color: #fff;
//     --color: #062f77;
// }
// ion-button{
//     --background: #062f77;
// }

a{
    color: rgb(0, 157, 183);
}

ion-button {
    --background :  rgb(0, 157, 183);
    --background-activated:  rgb(0, 157, 183);
    --color-focused  :  rgb(0, 157, 183); 
    --border-color:  rgb(0, 157, 183);
    --color-activated : rgb(0, 157, 183);
    --background-focused  : rgb(0, 157, 183);
    --background-hover  : rgb(0, 157, 183);
    margin-top: 10pt;
    img {
        width: 30pt;
    }
}


// ion-item{
//     --background: #3880ff;
//     --color: #fff;
// }

// ion-button{
//     --background: #062f77;
// }
