<ion-header>
  <ion-toolbar>
    <ion-grid fixed class="landing-page-grid">
      <ion-row>

        <ion-col size="2" (click)="popPage()" routerDirection="backward">
          <img class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />
        </ion-col>

        <ion-col size="8">
          <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
        </ion-col>
        <ion-col size="2"></ion-col>

      </ion-row>
      <ion-row>

        <ion-col *ngIf="this.shared.loggedInAdmin" size="12" class="heading-label-fonts">Update your information
        </ion-col>
        <ion-col *ngIf="!this.shared.loggedInAdmin" size="12" class="heading-label-fonts">Create Your Account</ion-col>
      </ion-row>
      <ion-row>
        <ion-col hidden size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and
          typesetting
          industry</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding fullscreen>

  <ion-grid fixed class="default-grid-layout register-card-height">

    <ion-row>
      <ion-col size="12" size-sm>
        <ion-item>
          <!-- <ion-label class="iput-label-title" position="floating">Mosque Name</ion-label> -->
          <ion-icon name="at"></ion-icon>
          <ion-input type="text" [(ngModel)]="mosqueName" required placeholder="Mosque Name"></ion-input>
        </ion-item>

        <ion-item>
          <!-- <ion-label class="iput-label-title" position="floating">your@email.com</ion-label> -->
          <ion-icon name="mail"></ion-icon>
          <ion-input name="email" type="email" [(ngModel)]="mosqueEmail" required placeholder="Email"></ion-input>
        </ion-item>


        <ion-item>
          <!-- <ion-label position="floating">Password</ion-label> -->
          <ion-icon name="lock"></ion-icon>
          <ion-input name="password" type="password" [(ngModel)]="mosquePassword" required placeholder="Password">
          </ion-input>
        </ion-item>


        <ion-item>
          <!-- <ion-label position="floating">About Us</ion-label> -->
          
          <ion-textarea auto-grow="true" mode="ios" [(ngModel)]="mosqueAboutUs" placeholder="About Us"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm>

        <ion-button *ngIf="this.shared.loggedInAdmin" type="submit" expand="block" color="primary"
          (click)="registerButtonTapped()">Update</ion-button>
        <ion-button *ngIf="!this.shared.loggedInAdmin" type="submit" expand="block" color="primary"
          (click)="registerButtonTapped()">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<!-- <ion-header>
    <ion-toolbar>
      <ion-button outline clear slot="start" routerLink="/auth-login" routerDirection="back">
      <img src="./assets/imgs/back_old.png" alt="" sizes="" srcset="">
      </ion-button>
      <ion-title>
        Login Admin
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content  ion-padding>
  <form  #form="ngForm">
    <ion-col>
      <ion-row color="primary"class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Create your account!</h3>
          </div>
          '<div class="ion-padding">
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Name" [(ngModel)]="userName" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="userEmail" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="userPassword" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Password again" [(ngModel)]="userConfirmPassword" required></ion-input>
            </ion-item>
          </div>
          '<div class="ion-padding">
            <ion-button  size="large" type="submit"  (click)="registerButtonTapped()" expand="block">Register</ion-button>
            
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </form>
</ion-content> -->