<!-- <ion-header>
  <ion-toolbar> </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    
    <ion-label style="position: absolute; bottom: 0;margin-bottom: 4vw;" class="heading-label-fonts ">{{place.p_name}}</ion-label>
    <img class="home-background" *ngIf="imageBaseUrl" [src]="imageBaseUrl" alt="">
    <div class="back-ground-blur"></div>

  </ion-toolbar>


</ion-header>


<img  routerDirection="backward" (click)="backButtonTapped()" style="
      top: 0;
    position: absolute;
    top: 0;
    /* background: red; */
    width: 10vw;
    height: auto;
    margin-top: 7vw;
    margin-left: 4vw;
    z-index: 99;
  
  " src="./assets/imgs/bback_old.png" />
  <button (click)="backButtonTapped()" style="
  top: 0;
  position: absolute;
  top: 0;
  background: transparent;
  width: 10vw;
  height: 10vw;
  margin-top: 7vw;
  margin-left: 4vw;
  z-index: 100;">
  
  </button>
  
<ion-content ion-padding fullscreen>
  <!-- <ion-grid fixed class="deafult-header-layout">
    <ion-row>
      <ion-col size="2" routerLink="/admin" routerDirection="backward">
        <img class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />

      </ion-col>
      <ion-col size="8">
        <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
      </ion-col>
      <ion-col size="2"></ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12" class="heading-label-fonts">{{loggedinMosque.p_name}}</ion-col>
    </ion-row>
    <ion-row hidden>
      <ion-col size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry</ion-col>
    </ion-row>
  </ion-grid> -->


  <ion-grid fixed class="default-grid-layout admin-card-height">
    <!-- <ion-item>
      <ion-icon name="calendar"></ion-icon>
      <ion-datetime display-format="YYYY-MM-DD" placeholder="Select Date" (ionChange)="dateSelected($event)">
      </ion-datetime>
    </ion-item> -->

    <ion-item hidden>
      <ion-icon name="time"></ion-icon>
      <ion-datetime display-format=" HH:MM" placeholder="Select Time" (ionChange)="dateSelected($event)"></ion-datetime>
    </ion-item>


    <ion-item>
      <!-- <ion-label position="floating">Notice title</ion-label> -->
      <ion-icon name="text"></ion-icon>
      <ion-input auto-grow="true" required = true type="text" [(ngModel)]="noticeTitleTextField" placeholder="Title"></ion-input>
    </ion-item>
    <!-- Textarea in an item with a floating label -->
    <ion-item>
      <ion-textarea  rows="8" required = true spellcheck = true wrap ="soft" maxlength="1000" auto-grow="true" [(ngModel)]="noticeDescriptionTextField" placeholder="Detail"></ion-textarea>
    </ion-item>
    <p style="margin-left: 2vw; color: red; font-size: small; margin-top: 0px; line-height: 3vw;"> * Number of chars allowedd 1000.</p>
    <ion-row>
      <ion-col size="12">

        <ion-button color="primary" type="submit" routerDirection="backward" expand="block"
          (click)="postAnnoucementButtonTappd()">Post</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>