
.admin-logo{
    width: 25vw;
    height: 25vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: cyan;
    object-fit: cover;
}


a{
    color: rgb(0, 157, 183);
}

ion-button {
    --background :  rgb(0, 157, 183);
    --background-activated:  rgb(0, 157, 183);
    --color-focused  :  rgb(0, 157, 183); 
    --border-color:  rgb(0, 157, 183);
    --color-activated : rgb(0, 157, 183);
    --background-focused  : rgb(0, 157, 183);
    --background-hover  : rgb(0, 157, 183);
    margin-top: 10pt;
    img {
        width: 30pt;
    }
}


.masjid-name {
    text-align: center;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4vw;
    text-align: center;
}


textarea {
    display: block;
    width: 90%;
    height: 40vw;
    margin-left: 5%;
    background: green;
    border: 1px solid #fff;
}
.textarea.native-textarea.sc-ion-textarea-md{
    --height: 40vw;
    --background: aqua;;
}
