<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="announcement">
      
      <img src="./assets/imgs/announcement-tab.png" alt="">
      <ion-label>Announcement</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mosque">
      <!-- <ion-icon name="apps"></ion-icon> -->
      <img src="./assets/imgs/mosque-tab.png" alt="">
      <ion-label>Mosques</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about-us">
      <!-- <!-- <ion-icon name="send"></ion-icon> --> 
      <img src="./assets/imgs/about-us-tab.png" alt="">
      <ion-label>About Us</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
