.z-header{
    height: auto !important;
    background: red;
    z-index: 9;
}
.annoucment-grid-layout{
    background: transparent;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
}

.content-img {
    width: 35vw;
    height: 35vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 1vw;
}
.masjid-name{
    text-align: center;
    margin: 5vw 0vw;

}

ion-toolbar{
    background-image:
  linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
  url('https://mdn.mozillademos.org/files/7693/catfront.png') !important;
}

.detail-label-style{
    color: black;
    justify-items: unsafe;
    word-spacing: 1px;
    font-family: 'Raleway-Medium' !important;
    font-size: 4vw;
    margin-top: 0px;
    line-height: 6vw;
    max-height: 21vw;
    overflow: -moz-hidden-unscrollable;
    margin-bottom: 1vw;

  }