<ion-header>
  <ion-toolbar>
    <ion-grid  fixed class="landing-page-grid">
      <ion-row>
        <!-- (click)="goBack()" style="background: red;" -->
        <ion-col size="2" >
          

        </ion-col>
        <ion-col size="8">
          <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
        </ion-col>
        <ion-col size="2"></ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12" class="heading-label-fonts">Latest Messages</ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry</ion-col>
      </ion-row> -->

    </ion-grid>
    

  </ion-toolbar>
</ion-header>


 
<ion-content ion-padding fullscreen >
  <!-- <img src="./assets/imgs/3.jpg" alt=""> -->
  <div class="image-test"></div>
  <div *ngIf="favoriteAnnoucments.length ==0" class="ion-text-center heading-label-fonts nothing-found-label">No new message</div>

  <ion-grid hidden fixed class="deafult-header-layout">
    <ion-row>
      <ion-col size="2">
        <img hidden class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />

      </ion-col>
      <ion-col size="8">
        <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
      </ion-col>
      <ion-col size="2"></ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12" class="heading-label-fonts">Latest Messages.</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting
        industry</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="default-grid-layout annoucment-grid-layout">
    <ion-card style="margin: 5pt;border-radius:8pt; --background:white; padding: 8px;"
      *ngFor="let notice of favoriteAnnoucments">
      <ion-row>
        <ion-col size="8">
          <ion-card-title>{{notice.a_title}} </ion-card-title>
        </ion-col>
        <ion-col size="4">
          <ion-label style="font-size: 3vw; font-weight: 700; width: 100% !important; ">{{ getformatedDate(notice.a_datetime) }} </ion-label>    
        </ion-col>
      </ion-row>

      
      <p class="detail-label-style" > {{notice.a_description}} </p>
      <!-- <div class="description-label" > {{notice.a_description}} </div> -->
    </ion-card>

  </ion-grid>
</ion-content>