<ion-header>
  <ion-toolbar>
    <ion-grid fixed class="landing-page-grid custom-place-detail-style">
      <ion-row>
        <ion-col size="2" routerLink="/tabs/mosque" routerDirection="backward" (click)="BackToMosquTab()">

          <img hidden class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />

        </ion-col>
        <ion-col size="8">
          <img hidden class="header-page-applogo" src="./assets/imgs/applogo.png" />
        </ion-col>
        <ion-col size="2"></ion-col>

      </ion-row>
      <ion-row style="position: absolute;
      bottom: 7vw;">
        <ion-col size="12"  class="heading-label-fonts ">
          <ion-label style="color: #2E80B8;" >{{place.p_name}}</ion-label>
          
        </ion-col>
      </ion-row>
      <ion-row hidden style="
      bottom: 4vw;
      position: absolute;">
        <ion-col size="12">
          <ion-label class="detail-label-fonts place-detail-height">{{getTrimmedValue(place.p_description)}}</ion-label>

        </ion-col>
      </ion-row>
    </ion-grid>
    <img class="home-background" *ngIf="imageBaseUrl" [src]="imageBaseUrl" alt="">
    <div class="back-ground-blur"></div>

  </ion-toolbar>


</ion-header>

<img *ngIf="!mosqueData" routerDirection="backward" (click)="BackToMosquTab()" style="
      top: 0;
    position: absolute;
    top: 0;
    /* background: red; */
    width: 10vw;
    height: auto;
    margin-top: 7vw;
    margin-left: 4vw;
    z-index: 99;
  
  " src="./assets/imgs/bback_old.png" />
  <button (click)="BackToMosquTab()" style="
  top: 0;
  position: absolute;
  top: 0;
  background: transparent;
  width: 10vw;
  height: 10vw;
  margin-top: 7vw;
  margin-left: 4vw;
  z-index: 100;">
  
  </button>
<ion-content ion-padding fullscreen>
  <ion-segment [(ngModel)]="segmentPlaceDetail" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="isAnnoucement">
      <ion-label>Messages</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Detail">
      <ion-label>About You</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="isShowingAnnoucement">

    <div *ngIf="notficationDatasource.length == 0 || !notficationDatasource"
      style="margin-top: 100px" class="ion-text-center heading-label-fonts nothing-found-label">No annoucement posted yet</div>

      

    <ion-grid fixed class="default-grid-layout admin-card-height">

      <ion-card class="admin-card" *ngFor="let notice of notficationDatasource">
        <ion-card-title>{{notice.a_title}}
          <p style="
          font-size: 10pt; float: right;
          font-family: 'Raleway-Medium' !important;
          ">{{ getformatedDate(notice.a_expiry) }} </p>
        </ion-card-title>

        <ion-label  padding
        style="color: black;
      margin-top: 10vw;
      padding: 2vw;
      justify-items: unsafe;
      word-spacing: 1px;
      font-family: 'Raleway-Medium' !important;
      font-size: 4vw;
      line-height: 6vw;" class="detail-label-fonts"
        > {{notice.a_description}} </ion-label>
        <div class="row-separaor"> </div>
      </ion-card>
    </ion-grid>
  </div>

  <div *ngIf="!isShowingAnnoucement">
    <ion-card style="
    background: white;

      border-bottom: 1px solid #2E80B8;
      border-radius: 8px;
    ">
      <p style="color: black;
      margin-top: 10vw;
      padding: 2vw;
      justify-items: unsafe;
      word-spacing: 1px;
      font-family: 'Raleway-Medium' !important;
      font-size: 4vw;
      line-height: 6vw;" class="detail-label-fonts">
        {{place.p_description}}
      </p>    
    </ion-card>
  
    <!-- <ion-text style="color: black; margin-top: 10vw;" class="detail-label-fonts"> -->
      <!-- {{place.p_description}} -->
    <!-- </ion-text> -->
  </div>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab *ngIf="mosqueData && isShowingAnnoucement" vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToNewAnnouncement()" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab style="margin-top: 80px;" *ngIf="mosqueData && !isShowingAnnoucement" vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button routerLink='/register' routerDirection="forward">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>