.test-color {
    color: #2E80B8;//#333333;
    // position: absolute;
    // bottom: 3vw;
    // padding-left: 3vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    // height: 100%;
    z-index: 2;
}

.custom-place-detail-style {
    height: 100%;
    z-index: 32;
}

.admin-card-height {
    height: auto;

    background: transparent;
}

.admin-card {
    background: white;
    margin: 12px;
    width: 100%;
    margin: 4px 0px;
    padding: 6px;
}

.back-ground-blur {
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0.3
}

.masjid-name {
    text-align: center;
    --background: red;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4vw;
    text-align: center;

}


ion-label {
    padding: 4px;
}

// ion-col {
//     background: rgb(3, 101, 96);

//     margin-top: 2vw;
//     // padding: 5px;
//     --height: 1px !important;
// }


.row-separaor {
    width: 100%;
    height: 2px;
    background: white;
    padding-top: 4px;
}

.place-detail-height {
    // height: 100px;
    min-width: 20% !important;
    max-width: 20% !important;
}