<ion-header>
  <ion-toolbar>
    <ion-grid  fixed class="landing-page-grid">
      <ion-row>
        <ion-col size="2">
          <img hidden class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />
    
        </ion-col>
        <ion-col size="8">
          <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
        </ion-col>
        <ion-col size="2"></ion-col>
    
      </ion-row>
      <ion-row>
        <ion-col size="12" class="heading-label-fonts">About Us</ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry</ion-col>
      </ion-row> -->
    </ion-grid>
    
  </ion-toolbar>
</ion-header>




<ion-content ion-padding fullscreen>
  
  

<ion-grid  fixed class="default-grid-layout login-card-height">
    <ion-card-header style="margin-top: 5pt;margin-bottom:5pt;border-radius: 8pt;--background:white;"
    >
    <ion-row>
      <ion-col size="12">
        <ion-card-title >This is how we work </ion-card-title>
      </ion-col>
    </ion-row>
    

    <ion-text class="detail-label-style" > It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </ion-text >
  </ion-card-header>

  
  <ion-card-header style="margin-top: 5pt;margin-bottom:5pt;border-radius: 8pt;--background:white;"
  >
  <ion-row>
    <ion-col size="12">
      <ion-card-title >
          Where does it come from?  
      </ion-card-title>
    </ion-col>
  </ion-row>
  
  <ion-text class="detail-label-style">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    </ion-text>
  <!-- <ion- style="text-align: center; justify-content: center; "> 
      
  </i> -->
</ion-card-header>
</ion-grid>


</ion-content>
