.detail-label-style{
        color: black;
      /* margin-top: 10vw; */
      /* padding: 2vw; */
      justify-items: unsafe;
      word-spacing: 1px;
      font-family: 'Raleway-Medium' !important;
      font-size: 4vw;
      margin-top: 0px;
      line-height: 6vw;
      max-height: 21vw;
      overflow: -moz-hidden-unscrollable;
      margin-bottom: 1vw;
    
}