

ion-toolbar{
    --background :  rgb(0, 157, 183);
    --min-height: 18vw !important;
}
ion-title {
    --color : white;// rgb(0, 157, 183);
    margin-top: 3pt;
}
ion-button {
    --background :  rgb(0, 157, 183);
    --background-activated:  rgb(0, 157, 183);
    --color-focused  :  rgb(0, 157, 183); 
    --border-color:  rgb(0, 157, 183);
    --color-activated : rgb(0, 157, 183);
    --background-focused  : rgb(0, 157, 183);
    --background-hover  : rgb(0, 157, 183);
    margin-top: 10pt;
    img {
        width: 30pt;
    }
}
.favourite-masjid {
    position: absolute;
    z-index: 99;
    width: 35pt;
    height: 37pt; // top: 50px;
    margin-top: 8pt;
    padding: 5px;
    right: 8px;

    top: 0;
}