<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-grid  fixed class="deafult-header-layout" style="background-color: red;">
  <ion-row>
    <ion-col size="2"routerLink="/" routerDirection="backward" >
      <img  class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />

    </ion-col>
    <ion-col size="8">
      <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
    </ion-col>
    <ion-col size="2"></ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="12" class="heading-label-fonts">Mosques</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting
      industry</ion-col>
  </ion-row>
</ion-grid>


<ion-content>

  <ion-grid  fixed class="default-grid-layout mosque-custom-grid">

  <ion-card>
    <!-- <img [src]=masjid.image /> -->

    <img class="favourite-masjid" *ngIf="selectedPlace.favplaces != '1' " src="./assets/imgs/unlike.png"
      (click)="makritAsFavroite()">
    <img class="favourite-masjid" *ngIf="selectedPlace.favplaces === '1' " src="./assets/imgs/liked.png"
      (click)="makritAsFavroite()">

    <ion-card-header style="margin-top: 5pt;margin-bottom:5pt;border-radius: 8pt;--background:white;"
      *ngFor="let notice of notficationDatasource">
      <ion-row>
        <ion-col size="12">
          <ion-card-title >{{notice.a_title}} </ion-card-title>
        </ion-col>
      </ion-row>
      <ion-label style="font-size: 3vw; font-weight: 700; width: 100% !important; ">{{ notice.a_datetime }} </ion-label>

      <div> {{notice.a_description}} </div>
    </ion-card-header>

  </ion-card>

</ion-grid>
</ion-content>