/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



// custom global css


:root {
  -app-primary-color: #2E80B8;
  -app-secondary-color: #132531;

}

ion-header {
  --background: transparent !important;
}

ion-button {
  --box-shadow: none !important;
}
.home-background {
  // --background: url('./assets/imgs/3.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  max-height: 46vw;
  background-size: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
  z-index: 30;

}
.home-background-blur{
  background: red;
  z-index: 31;
}

ion-toolbar {
   --background: #2E80B8; //var-app-primary-color);
  --min-height: 44vw !important;
  --height: 46vw !important;
  border-radius: 0px 0px 21px 21px;
  display: inline-block;
  // --background: url('./assets/imgs/3.jpg') no-repeat center center fixed; 

  -moz-border-radius: 100%;
  overflow: hidden;

  // border: solid 1px #ccc;
  vertical-align: bottom;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background-size: cover;
}


$toolbar-ios-button-border-radius : 20px;

ion-title {
  color: white;
  font-weight: bold;
  font-size: 4vw;
  padding: 0;
  text-align: center !important;
}

ion-icon {
  width: 21px;
  height: 13.5px;
}

ion-item {
  --background: #E7E6E6 !important;
  margin: 4px 0px;
  border-radius: 20px;
  box-shadow: none !important;

}

ion-item {
  // border-bottom: 1px solid #2E80B8;
}

input.native-input.sc-ion-input-ios {

  background: transparent !important;
}

ion-text {
  font-size: 14px;
}

ion-textarea {
  --border: none !important;
  // margin-top: 18px !important;

}

.annoucement-description {
  // text-overflow: ellipsis;
  // overflow: hidden;
  // max-height: 70px;
}

ion-card-title {
  font-size: 4vw;
}

ion-content {
  --background: rgb(224, 224, 224) !important;
}



ion-card-content {
  padding: 0 !important;
  max-height: 30vw;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px !important;

}


// CUSTOM CSS GLOBALLY
.center-this-div {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.vertically-center-this-div {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.heading-label-fonts {
  font-family: var(--app-font-bold);
  font-size: 25px;
  line-height: 28px;
  color: white;
  padding: 2vw;
}
.detail-label-fonts {
  font-family: var(-app-font-medium);
  font-size: 14px;
  line-height: 16px;
  --color: white;
  color: white;
}

.nothing-found-label{
  color: black;
  position: relative;
  top: 50% !important;
  transform: translateY(-50%) !important;
  text-align: center;
}
.text-align-center {
  text-align: center;
}



.border-bottom {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.landing-page-grid {
  position: absolute;
  top: 4vw;
  // --background: red;
  
}

.header-page-applogo {
  max-width: 100%;
  border: 0;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  // background-color:  !important;
}
.place-detail-height{
  max-height: 5vw;
  background: transparent ;
}
.deafult-header-layout {
  background: #2E80B8;
  position: fixed;
  top: 10vw;
  z-index: 999999999999999;
  padding-top: 20px;
  width: 96%;
  left: 2%;
  right: 2%;
  max-height: 60vw;
  // background-color: red !important;
}

.default-grid-layout {
  background-color: white;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  position: relative;
  top: 0vw;
  border-radius: 16px;
  z-index: 0 !important;
  min-height: 200px;
  height: auto;
  // z-index: 1;
  -webkit-transform:translate3d(0,0,0);
}

.primary-button-layout {
  font-family: var(-app-font-semi-bold);
  --background: var(-app-secondary-color);
  font-size: 18;
  border-radius: 9999px;

}

ion-button {
  --background: green;
  margin-top: 4vw;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}

// ion-button {
//   --background :  rgb(0, 157, 183);
//   --background-activated:  rgb(0, 157, 183);
//   --color-focused  :  rgb(0, 157, 183); 
//   --border-color:  rgb(0, 157, 183);
//   --color-activated : rgb(0, 157, 183);
//   --background-focused  : rgb(0, 157, 183);
//   --background-hover  : rgb(0, 157, 183);
//   margin-top: 10pt;
//   img {
//       width: 30pt;
//   }
// }

.toast-on-success {
  width: 100%;
  text-align: center;
  font-family: 'Raleway-Medium' !important;
  color: green;
  font-size: 130%;
  // background: white;
  // .scroll-content {
  //   overflow-y: auto;
  // }
}

.toast-on-failure {
  color: black;
  width: 100%;
  text-align: center;
  font-family: 'Raleway-Medium' !important;
  color: red;
  font-size: 130%;
  // background: white;
  // .scroll-content {
  //   overflow-y: auto;
  // }
}