<ion-header>
  <ion-toolbar>
    <ion-grid fixed class="landing-page-grid">
      <ion-row size="2" routerDirection="backward">
        <!-- routerLink="/" routerDirection="backward" -->
        <ion-col routerDirection="backward">
          <img hidden class="vertically-center-this-div" src="./assets/imgs/backArrow.png" />

        </ion-col>
        <ion-col size="8">
          <img class="header-page-applogo" src="./assets/imgs/applogo.png" />
        </ion-col>
        <ion-col size="2"></ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12" class="heading-label-fonts">Mosques</ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12" class="detail-label-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting
          industry</ion-col>
      </ion-row> -->
    </ion-grid>

  </ion-toolbar>
</ion-header>



<ion-content ion-padding fullscreen>

  <ion-grid fixed class="default-grid-layout mosque-custom-grid">


    <ion-card class="mosque-card" *ngFor="let place of places; let i = index;">
      <!-- Mosque name row -->
      <ion-row (click)="MasjidDetailTapped(place, i)">
        <ion-col size="9">
          <ion-row>
            <ion-col size="12">
              <ion-card-title>{{place.p_name}} </ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p class="detail-label-style detail-label-fonts">
                {{place.p_description}}
              </p>
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col size="3">


          <img class="mosque-listing-image" [src]="getMosueImageURl(place)" alt="./assets/imgs/1applogo.png">
        </ion-col>
      </ion-row>




      <img (click)="makritAsFavroite(place,i)" id="img2" *ngIf="place.favplaces === '0' "
        src="./assets/imgs/unlike.png">
      <img (click)="makritAsFavroite(place,i)" id="img2" *ngIf="place.favplaces === '1' " src="./assets/imgs/liked.png">



    </ion-card>
  </ion-grid>


</ion-content>