
//header title
ion-title {
    --color : white;
    margin-top: 3pt;
}
.mosque-custom-grid{
    background: transparent;
    // height: 66vw;

}
.mosque-card{
    background: white;
    // margin: 12px ; 
    width: 100%;
    margin: 0.8vw 0px;
}
// back button
ion-button {
    --background :  rgb(0, 157, 183);
    margin-top: 10pt;
    img {
        width: 30pt;
    }
}


ion-row {
    .mosque-logo {
        background: greenyellow;
        border-radius: 10px;
    }
}

.imgBox {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
  }
  
  #img2 {
      
    right: 1vw;
    position: absolute;
    width: 20pt;
    top: 1vw;
    height: 20pt
  }

  .mosque-listing-image{
    width: 20vw;
    height: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3vw;
  }
 
  .detail-label-style{
    color: black;
    
    justify-items: unsafe;
    word-spacing: 1px;
    font-family: 'Raleway-Medium' !important;
    font-size: 4vw;
    margin-top: 0px;
    line-height: 6vw;
    max-height: 21vw;
    overflow: -moz-hidden-unscrollable;
    margin-bottom: 1vw;

  }